<footer class="bg-gray-800 text-white py-8">
  <div class="container mx-auto flex flex-col items-center">
    <p class="text-center mb-4">Beadandó feladat.</p>
<!--    <ul class="flex space-x-4">-->
<!--      <li><a href="#" class="hover:text-gray-400">Link 1</a></li>-->
<!--      <li><a href="#" class="hover:text-gray-400">Link 2</a></li>-->
<!--      <li><a href="#" class="hover:text-gray-400">Link 3</a></li>-->
<!--      <li><a href="#" class="hover:text-gray-400">Link 4</a></li>-->
<!--    </ul>-->
    <p class="mt-4">© 2024 Minden jog fenntartva.</p>
  </div>
</footer>
